[Unit]
Description=spa-notes
After=network.target

[Service]
Type=simple
User=spa-notes
Group=spa-notes

WorkingDirectory=/opt/spa-notes

EnvironmentFile=/etc/spa-notes/spa-notes.env

ExecStart=/usr/bin/java -jar /opt/spa-notes/spa-notes.jar

Restart=on-failure
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/spa-notes

[Install]
WantedBy=multi-user.target
